/* General */
@font-face {
    font-family: 'verlaglight';
    src: url('Type/verlag_light-webfont.eot');
    src: url('Type/verlag_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Type/verlag_light-webfont.woff') format('woff'),
         url('Type/verlag_light-webfont.ttf') format('truetype'),
         url('Type/verlag_light-webfont.svg#verlaglight') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body, div, span, p, a, del, em, img, ol, ul, li, fieldset, form, label {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

html, body {
	line-height: 1;
	min-height:100%;
	font-family:'verlaglight', sans-serif;
}

body {
	background: #eeeeee;
	background: -webkit-linear-gradient(top, #eeeeee, #cccccc 100%);
	background: -moz-linear-gradient(top, #eeeeee, #cccccc 100%);
	background: -o-linear-gradient(top, #eeeeee, #cccccc 100%);
	background: -ms-linear-gradient(top, #eeeeee, #cccccc 100%);
	background: linear-gradient(top, #eeeeee, #cccccc 100%);
	background-attachment:fixed;
}

ol, ul {
	list-style: none;
}

p {
	margin:1em 0;
	line-height:1.1em;
}

q {
	font-style:italic;
	color:#333;
}

h1 {
	font-size: 3.1em;
}

h1 > small {
	text-align:right;
	display:inline-block;
	font-size:.71em;
	text-indent:15em;
	color:#444;
}

h2 {
	color:inherit;
	font-size:4vw;
	margin-left: 4vw;
	font-family: 'verlaglight', sans-serif;
}

h2:first-child {margin-top:0;}

h3 {
	color:#333;
	font-size:1.41em;
	margin:1em 0;
}

h4 {
	color:#444;
	font-size:2.5vw;
	margin-left: 7.2vw;
}

#scrollbar {
	position:fixed;
	right:2px;
	height:50px;
	width:6px;
	background:#444;
	background:rgba(0,0,0,0.6);
	border:1px solid rgba(255,255,255,0.6);
	z-index:300;
	border-radius:3px;
}

.skrollr-desktop #scrollbar {display:none;}

#bg1 {
	width: 100%;
	position: fixed;
	left: 0%;
	top:0%;
	overflow: hidden;
	z-index: 100;
}

.fontent {
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
}

#resizequery {
	z-index:-99999;
	position: fixed;
	top: 25%;
	left: 25%;
	width: 50%;
	text-align: center;
}

/* Intro */

#intro {
	width:100%;
	height: 100%;
	color: white;
	text-align:center;
	
	-webkit-transform-origin:0 0;
	-moz-transform-origin:0 0;
	-ms-transform-origin:0 0;
	-o-transform-origin:0 0;
	transform-origin:0 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#logo {
  	max-width:40vw;
    max-height:40vw;
    position: absolute;
    margin-top: 0vw; left: 29vw;
}

#title {
	position: relative;
	margin-top: 16vw; margin-bottom: auto;
	font-family: verlaglight;
	font-size: 4vw;
	margin-right: auto; margin-left: auto;
}

#icon {
  	max-width:12vw;
    max-height:12vw;
    position: absolute;
    top:0; left:0; right:0; bottom:0;
    margin-top: 26vw; margin-bottom: auto;
}

#tagline {
	position: relative;
	font-size: 1.5vw;
	margin-right: auto; margin-left: auto;
	margin-top: 19vw; margin-bottom: auto;
}


#properties {
	width:100%;
	height:100%;
	padding-top:10%;
	text-align:center;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#easing_wrapper {
	width:100%;
	height:100%;
}

#easing {
	top:10%;
	width:50%;
	z-index:101;
}

.drop {
	background:#09f;
	font-weight:bold;
	padding:1em;
}

/* Scene 2 Create an Account */

#Titleline2 {
	color: white;
}

#sumockup {
	position: absolute;
	height:30vw;
}

#subutton {
	position: absolute;
	max-width:10vw;
	top:25.5vw;
	left:10vw;
}

#mockupgroup {
	max-height:40vw;
	max-width:60vw;
	margin-left: 35vw;
	position: absolute;
}

#scene2 {
	width:100%;
	height: 100%;
	color: white;
	overflow: hidden;
	
	-webkit-transform-origin:0 0;
	-moz-transform-origin:0 0;
	-ms-transform-origin:0 0;
	-o-transform-origin:0 0;
	transform-origin:0 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#yourwebsite {
	top: 5.3vw;
}

#reveal1 {
	max-width: 35vw;
	top: -5vw;
	position: relative;
}

#youremail {
	top: 7.6vw;
}

#reveal2 {
	max-width: 30vw;
	top: -1.7vw;
	position: relative;
}

#yourpass {
	top: 9.9vw;
}

#reveal3 {
	max-width: 30vw;
	top: 1.6vw;
	position: relative;
	
}

#yourphone {
	top: 12.2vw;
}

#reveal4 {
	max-width: 30vw;
	top: 4.8vw;
	position: relative;
}

.mugwords {
	left: 10.5vw;
	position: relative;
	color: black;
	font-size: 1.25vw;
}

.mugbars {
	height: 1.6vw;
	background-color: white;
/*	position: relative;
*/}

/* Scene 3 Build your event */

#scene3 {
	width:100%;
	height: 100%;
	color: white;
	overflow: hidden;
	
	-webkit-transform-origin:0 0;
	-moz-transform-origin:0 0;
	-ms-transform-origin:0 0;
	-o-transform-origin:0 0;
	transform-origin:0 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#mainstage {
	top: 5vw;
	left: 40vw;
	position: absolute;
}

#stage1 {
	width: 49vw;
	margin-left: .55vw;
	position: absolute;
	top: 31.5vw;
	left: 0vw;
	-webkit-transform-origin:0 100%;
	-moz-transform-origin:0 100%;
	-ms-transform-origin:0 100%;
	-o-transform-origin:0 100%;
	transform-origin:0 100%;
}

#stage2 {
	position: absolute;
	left: 0vw;
	top: 30.2vw;
	width: 50vw;
	height: 1vw;
}

#stage3 {
	position: absolute;
	left: 0vw;
	top: 28.5vw;
	width: 50vw;
	height: 2vw;
}

#stage4 {
	top: 9.3vw;
	width: 44.32vw;
	left: 0vw;
	margin-left: 2.86vw;
	-webkit-transform-origin:0 100%;
	-moz-transform-origin:0 100%;
	-ms-transform-origin:0 100%;
	-o-transform-origin:0 100%;
	transform-origin:0 100%;
	position: relative;
}

#stage5 {
	position: absolute;
	left:0vw;
	top:8vw;
	height: 1vw;
	width: 50vw;
	position: absolute;
}

#stage6 {
	width: 50vw;
	position: absolute;
	top: .7vw;
	height: 7vw;
	left: 0vw;
}

#stage7 {
	width: 42.5vw;
	margin-left: 4.2vw;
	position: absolute;
	top: 10vw;
}

#stage8_1 {
	position: absolute;
	top: 12.5vw;
	width: 38vw;
	margin-left: 6vw;
}

#shine1 {
	position: absolute;
	left: 6.9vw;
	top: 14.3vw;
	height: 15vw;
}

#shine2 {
	position: absolute;
	left: 34.1vw;
	top: 14.35vw;
	height: 15vw;
}

#shine3 {
	position: absolute;
	left: 5.77vw;
	top: 14.3vw;
	height: 15vw;
}

#shine4 {
	position: absolute;
	left: 24.15vw;
	top: 14vw;
	height: 15vw;
}

#singer {
    position: absolute;
    left: 22vw;
    top: 15.8vw;
    height: 13vw;
}



#ham1 {
	position: absolute;
	width: 7vw;
}

#ham2 {
	position: absolute;
	width: 7vw;
}

/* Scene 4 Add the code */

#scene45 {
	width:100%;
	height: 100%;
	color: white;
	overflow: hidden;
	
	-webkit-transform-origin:0 0;
	-moz-transform-origin:0 0;
	-ms-transform-origin:0 0;
	-o-transform-origin:0 0;
	transform-origin:0 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#Subtitleline4 {
	top: 10vw;
}

#oven {
	height: 35vw;
	top: 10vw;
	width: 40vw;
	left: 40vw;
	position: absolute;
}

#obody {
	width:100%;
	height:100%;
}

#odoor {
	position: absolute;
	top: 39%;
	width: 88%;
	left: 5.5%;
	height: 50%;
	-webkit-transform-origin:0 100%;
	-moz-transform-origin:0 100%;
	-ms-transform-origin:0 100%;
	-o-transform-origin:0 100%;
	transform-origin:0 100%;
	z-index: 9002
}

#omitt {
	width: 17vw;
	height: 10vw;
}

#opann {
	width: 29vw;
	height: 7vw;
	z-index: 500;
}

#otimr {
	font-size: 4vw;
	left: 83vw;
	top: 15vw;
}

#otbox {
	background-color: #FFFFFF;
	width: 5vw;
	position: absolute;
	left: 82vw;
	top: 25vw;
}


#sizzle {
	position: absolute;
	width: 5vw;
	height: 5vw;
	left: 17vw;
	top: 15vw;
}

/* Scene 5 */

#Titleline5 {
	left: 33vw;
	top: 0vw;
	font-size: 10vw;
	position: absolute;
}

#Subline5a {
	left: 33vw;
	top: 24vw;
	font-size: 4vw;
}

/* Scene 6 Check Sales */

#scene6 {
	width:100%;
	height: 100%;
	color: white;
	overflow: hidden;
	
	-webkit-transform-origin:0 0;
	-moz-transform-origin:0 0;
	-ms-transform-origin:0 0;
	-o-transform-origin:0 0;
	transform-origin:0 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#graph6 {
	position:absolute;
	width:50vw;
	height:35vw;
	left:10vw;
	top:10vw;
}

#maknbank { left: 70vw; top: 15vw; font-size: 7vw;}

#line6 {
	position:absolute;
	width:48vw;
	left:10.6vw;
	top:9.0vw;
}

/* Scene 7 Ticket Scanning */

#scene7 {
	width:100%;
	height: 100%;
	color: white;
	overflow: hidden;
	
	-webkit-transform-origin:0 0;
	-moz-transform-origin:0 0;
	-ms-transform-origin:0 0;
	-o-transform-origin:0 0;
	transform-origin:0 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#scanner{
	position: absolute;
	left:40vw;
	width: 18vw;
	height: 23vw;
}

#barcode{
	position: absolute;
	width: 20vw;
	height: 10vw;
}

#scan{
	position: absolute;
	width:17vw;
	height:20vw;
	left:52vw;
	top:23vw;
}

#s7text{
	top: 10vw;
}

/* Scene 8 See What Worked */

#scene8 {
	width:100%;
	height: 100%;
	color: white;
	overflow: hidden;
	
	-webkit-transform-origin:0 0;
	-moz-transform-origin:0 0;
	-ms-transform-origin:0 0;
	-o-transform-origin:0 0;
	transform-origin:0 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#s8text {
	top: 10vw;
}

#sheets {
	position: absolute;
	width:50vw;
	left:43vw;
	top:10vw;
}

#socdat {
	position: absolute;
	width:28vw;
	left:45vw;
	top:16vw;
}

#datas8 {
	position:absolute;
	width:42vw;
	left:45vw;
	top:20vw;
}

/* Scene 9 Conclusion */

#scene9 {
	width:100%;
	height: 100%;
	color: white;
	overflow: hidden;
	
	-webkit-transform-origin:0 0;
	-moz-transform-origin:0 0;
	-ms-transform-origin:0 0;
	-o-transform-origin:0 0;
	transform-origin:0 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#notepad {
	width:40vw;
	left: 30vw;
}

#checkmk {
	width:3vw;
	left:50.5vw;
	top:16vw;
}

#nxtevnt {

}


/* media query for screen size */
/*
@media (max-width:1290px) {

	#bg1 {
	z-index: 999999;
	}

	#resizequery {
	z-index: 9999999;
	}
	

}*/