/* General */
@font-face {
    font-family: 'verlaglight';
    src: url('Type/verlag_light-webfont.eot');
    src: url('Type/verlag_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Type/verlag_light-webfont.woff') format('woff'),
         url('Type/verlag_light-webfont.ttf') format('truetype'),
         url('Type/verlag_light-webfont.svg#verlaglight') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body, div, span, p, a, del, em, img, ol, ul, li, fieldset, form, label {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

html, body {
	line-height: 1;
	min-height:100%;
	font-family:'verlaglight', sans-serif;
}

body {
	background: #eeeeee;
	background: -webkit-linear-gradient(top, #eeeeee, #cccccc 100%);
	background: -moz-linear-gradient(top, #eeeeee, #cccccc 100%);
	background: -o-linear-gradient(top, #eeeeee, #cccccc 100%);
	background: -ms-linear-gradient(top, #eeeeee, #cccccc 100%);
	background: linear-gradient(top, #eeeeee, #cccccc 100%);
	background-attachment:fixed;
}

ol, ul {
	list-style: none;
}

p {
	margin:1em 0;
	line-height:1.1em;
}

q {
	font-style:italic;
	color:#333;
}

h1 {
	font-size: 3.1em;
}

h1 > small {
	text-align:right;
	display:inline-block;
	font-size:.71em;
	text-indent:15em;
	color:#444;
}

h2 {
	color:inherit;
	font-size:1.91em;
	margin:2em 0 1em 0;
}

h2:first-child {margin-top:0;}

h3 {
	color:#333;
	font-size:1.41em;
	margin:1em 0;
}

h4 {
	color:#444;
	font-size:1.11em;
	margin:1em 0;
}

#scrollbar {
	position:fixed;
	right:2px;
	height:50px;
	width:6px;
	background:#444;
	background:rgba(0,0,0,0.6);
	border:1px solid rgba(255,255,255,0.6);
	z-index:300;
	border-radius:3px;
}

.skrollr-desktop #scrollbar {display:none;}

#bg1 {
	width: 100%;
	position: fixed;
	left: 0%;
	top:0%;
	overflow: hidden;
	z-index: 100;
}

.fontent {
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
}

#resizequery {
	z-index:-99999;
	position: fixed;
	top: 25%;
	left: 25%;
	width: 50%;
	text-align: center;
}

/* Intro */

#intro {
	width:100%;
	height: 100%;
	left:50%;
	color: white;
	text-align:center;
	
	-webkit-transform-origin:0 0;
	-moz-transform-origin:0 0;
	-ms-transform-origin:0 0;
	-o-transform-origin:0 0;
	transform-origin:0 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#logo {
	width: 40%;
	left: 29.5%;
}

#title {
	position: static;
	margin-top: 17%;
	font-family: verlaglight;
}

#icon {
	top: 30%;
}

#tagline {
	position: relative;
	top: 30%;
}

#properties {
	width:100%;
	height:100%;
	padding-top:10%;
	text-align:center;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#easing_wrapper {
	width:100%;
	height:100%;
}

#easing {
	top:10%;
	width:50%;
	z-index:101;
}

.drop {
	background:#09f;
	font-weight:bold;
	padding:1em;
}

/* Scene 2 Create an Account */

#Titleline2 {
	left: 20%;
	color: white;
}

#sumockup {
	position: absolute;
	height:100%;
}

#subutton {
	position: absolute;
	width:115px;
	height: 35px;
	top:84.9%;
	right:35%;
}

#mockupgroup {
	height:/*60%*/390px;
	width:230px;
	margin-left: 33%;
	position: absolute;
}

#scene2 {
	width:100%;
	height: 100%;
	color: white;
	overflow: hidden;
	
	-webkit-transform-origin:0 0;
	-moz-transform-origin:0 0;
	-ms-transform-origin:0 0;
	-o-transform-origin:0 0;
	transform-origin:0 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#yourwebsite {
}

#reveal1 {
/*	width: 30%;
*/	top: 21%;
	position: relative;
}

#youremail {
	top: 25.4%;
}

#reveal2 {
/*	width: 30%;
*/	position: relative;
}

#yourpass {
	top: 33.4%;
}

#reveal3 {
/*	width: 20%;
*/	position: relative;
}

#yourphone {
	top: 41.2%;
}

#reveal4 {
/*	width: 30%;
*/	position: relative;
}

.mugwords {
	left: 138px;
	top:18.1%;
	position: relative;
	color: black;
}

.mugbars {
	left: 138px;
	height: 1.5em;
	background-color: white;
	width: 135px;
}

/* Scene 3 Build your event */

#scene3 {
	width:100%;
	height: 100%;
	color: white;
	overflow: hidden;
	
	-webkit-transform-origin:0 0;
	-moz-transform-origin:0 0;
	-ms-transform-origin:0 0;
	-o-transform-origin:0 0;
	transform-origin:0 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#Titleline3 {
	left: 20%;
	color: white;
}

#mainstage {
	height: 70%;
	top: 15%;
	right: 5%;
	max-width: 50%;
	min-width: 100px;
	min-height: 140px;
}

.s3stage {
	position: static;
}

#stage1 {
	width: 95%;
	height: 15%;
	margin-left: 2.5%;
	margin-top: .5%;
}

#stage2 {
	bottom: 11%;
	width: 100%;
	height: 3%;
}

#stage3 {
	bottom: 14%;
	width: 100%;
	height: 5%;
}

#stage4 {
	top: 2.6%;
	width: 88.7%;
	height: 60%;
	left: 5.65%;
	position: relative;
}

#stage5 {
	height: 3%;
	width: 100%;
	position: relative;
	top: 2.5%;
}

#stage6 {
	width: 100%;
	position: relative;
	top: 2.5%;
	height: 20%;
}

#stage7 {
	width: 85%;
	margin-left: 8%;
	position: absolute;
	top: 30%;
}

#stage8_1 {
	position: absolute;
	top: 38%;
	width: 74%;
	margin-left: 13%;
}

#shine1 {
	position: absolute;
	left: 14.72%;
}

#shine2 {
	position: absolute;
	left: 67.28%;
	top: 43.6%;
}

#shine3 {
	position: absolute;
	left: 12.4%;
	top: 43.3%;
}

#shine4 {
	position: absolute;
	left: 47.3%;
	top: 42%;
}

#singer {
	position: absolute;
	left: 40%;
	top: 47%;
	height: 40%;
}

.shiner {
	height: 45%;
	top: 43%;
}

#s3text {
	left:10%;
}

#s3text2 {
	left:10%;
}

#ham1 {
	position: absolute;
}

#ham2 {
	position: absolute;
}

/* Scene 4 Add the code */

#scene45 {
	width:100%;
	height: 100%;
	color: white;
	overflow: hidden;
	
	-webkit-transform-origin:0 0;
	-moz-transform-origin:0 0;
	-ms-transform-origin:0 0;
	-o-transform-origin:0 0;
	transform-origin:0 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#Titleline4 {
	top: 10%;
	left: 25%;
	color: white;
}

#Subtitleline4 {
	left: 15%;
	top: 35%;
}

#oven {
	height: 70%;
	top: 25%;
	width: 500px;
	height: 450px;
	left: 35%;
	position: absolute;
}

#obody {
	width:100%;
	height:100%;
}

#odoor {
	position: absolute;
	top: 39%;
	width: 88%;
	left: 5.5%;
	height: 50%;
	-webkit-transform-origin:0 100%;
	-moz-transform-origin:0 100%;
	-ms-transform-origin:0 100%;
	-o-transform-origin:0 100%;
	transform-origin:0 100%;
	z-index: 9002
}

#omitt {
	width: 190px;
	height: auto;
}

#opann {
	width: 325px;
	height: auto;
}

#otimr {
	right: 15%;
	top: 45%;
}


/* Scene 6 Check Sales */

#scene6 {
	width:100%;
	height: 100%;
	color: white;
	overflow: hidden;
	
	-webkit-transform-origin:0 0;
	-moz-transform-origin:0 0;
	-ms-transform-origin:0 0;
	-o-transform-origin:0 0;
	transform-origin:0 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#Titleline6 {
	top: 10%;
}

#6graph {

}

#maknbank { left: 70%; top: 40%; font-size: 400%;}

#gline {
	position: absolute;
	z-index: 9002;
}

/* Scene 7 Ticket Scanning */

/* Change all pixels to % */

#scene7 {
	width:100%;
	height: 100%;
	color: white;
	overflow: hidden;
	
	-webkit-transform-origin:0 0;
	-moz-transform-origin:0 0;
	-ms-transform-origin:0 0;
	-o-transform-origin:0 0;
	transform-origin:0 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#Titleline7{
	font-size: 60px;
	font-weight: 300;
	margin-left: 50px;
	margin-top: 30px;
	position: fixed;
}

#scanner{
	position: fixed;
	margin-left: 600px;
	margin-top: 200px;
}

#barcode1{
	position: fixed;
	margin-left: 530px;
	margin-top: 275px;
}

#scan{
	position: fixed;
	margin-left: 745px;
	margin-top: 290px;
}

#barcode2{
	position: fixed;
	margin-left: 530px;
	margin-top: 275px;
}

#barcode3{
	position: fixed;
	margin-left: 530px;
	margin-top: 275px;
}

#s7text{
	position: fixed;
	margin-left: 90px;
	margin-top: 130px;
	font-size: 30px;
	font-weight: 300;
}





/* media query for screen size */
/*
@media (max-width:1290px) {

	#bg1 {
	z-index: 999999;
	}

	#resizequery {
	z-index: 9999999;
	}
	

}*/