/* General */

html, body, div, span, p, a, del, em, img, ol, ul, li, fieldset, form, label {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

html, body {
	line-height: 1;
	min-height:100%;
	font-family:'verlaglight', sans-serif;
}

body {
	background: #eeeeee;
	background: -webkit-linear-gradient(top, #eeeeee, #cccccc 100%);
	background: -moz-linear-gradient(top, #eeeeee, #cccccc 100%);
	background: -o-linear-gradient(top, #eeeeee, #cccccc 100%);
	background: -ms-linear-gradient(top, #eeeeee, #cccccc 100%);
	background: linear-gradient(top, #eeeeee, #cccccc 100%);
	background-attachment:fixed;
}

ol, ul {
	list-style: none;
}

p {
	margin: 1em 0em;
	line-height:1.1em;
}

q {
	font-style:italic;
	color:#333;
}

h1 {
	font-size: 3.1em;
}

h1 > small {
	text-align:right;
	display:inline-block;
	font-size:.71em;
	text-indent:15em;
	color:#444;
}

h2 {
	color:inherit;
	font-size:4vw;
	margin-left: 4vw;
}

h2:first-child {margin-top:0;}

h3 {
	color:#333;
	font-size:1.41em;
	margin:1em 0;
}

h4 {
	color:#444;
	font-size:1.11em;
	margin:1em 0;
}


#scrollbar {
	position:fixed;
	right:2px;
	height:50px;
	width:6px;
	background:#444;
	background:rgba(0,0,0,0.6);
	border:1px solid rgba(255,255,255,0.6);
	z-index:300;
	border-radius:3px;
}

.skrollr-desktop #scrollbar {display:none;}

#bg1 {
	width: 100%;
	position: fixed;
	left: 0%;
	top:0%;
	overflow: hidden;
	z-index: 100;
}

.fontent {
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
}


/* Intro */

#intro {
	width:100%;
	height: 100%;
	color: white;
	text-align:center;
	
	-webkit-transform-origin:0 0;
	-moz-transform-origin:0 0;
	-ms-transform-origin:0 0;
	-o-transform-origin:0 0;
	transform-origin:0 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#logo {
  	max-width:40vw;
    max-height:40vw;
    position: absolute;
    margin-top: 0vw; margin-left: -20vw;
}

#title {
	position: relative;
	margin-top: 16vw; margin-bottom: auto;
	font-family: verlaglight;
	font-size: 4vw;
	margin-right: auto; margin-left: auto;
}

#title2 {
	position: relative;
	font-family: verlagLight;
	font-size: 1.5vw;
	margin-right: auto; margin-left: auto;
	margin-top: 2vw; margin-bottom: auto;
}

#icon {
  	max-width:12vw;
    max-height:12vw;
    position: absolute;
    top:0; left:0; right:0; bottom:0;
    margin-top: 26vw; margin-bottom: auto;
}

#tagline {
	position: relative;
	font-size: 1.5vw;
	margin-right: auto; margin-left: auto;
	margin-top: 17vw; margin-bottom: auto;
}

#properties {
	width:100%;
	height:100%;
	padding-top:10%;
	text-align:center;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#easing_wrapper {
	width:100%;
	height:100%;
}

#easing {
	top:10%;
	width:50%;
	z-index:101;
}

.drop {
	background:#09f;
	font-weight:bold;
	padding:1em;
}

/* Scene 2 Create an Account */

#Titleline2 {
	color: white;
}

#sumockup {
	position: absolute;
	height:30vw;
}

#subutton {
	position: absolute;
	max-width:10vw;
	top:25.5vw;
	left:10vw;
}

#mockupgroup {
	max-height:40vw;
	max-width:60vw;
	margin-left: 35vw;
	position: absolute;
}

#scene2 {
	width:100%;
	height: 100%;
	color: white;
	overflow: hidden;
	
	-webkit-transform-origin:0 0;
	-moz-transform-origin:0 0;
	-ms-transform-origin:0 0;
	-o-transform-origin:0 0;
	transform-origin:0 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#yourwebsite {
	top: 5.3vw;
}

#reveal1 {
	max-width: 35vw;
	top: -5vw;
	position: relative;
}

#youremail {
	top: 7.6vw;
}

#reveal2 {
	max-width: 30vw;
	top: -1.5vw;
	position: relative;
}

#yourpass {
	top: 9.9vw;
}

#reveal3 {
	max-width: 30vw;
	top: 1.6vw;
	position: relative;
	
}

#yourphone {
	top: 12.2vw;
}

#reveal4 {
	max-width: 30vw;
	top: 5vw;
	position: relative;
}

.mugwords {
	left: 10.5vw;
	position: relative;
	color: black;
	font-size: 1.25vw;
}

.mugbars {
	height: 1.5vw;
	background-color: white;
	position: relative;
}

/* Scene 3 Create membership levels */

#scene3 {
	width:100%;
	height: 100%;
	color: white;
	overflow: hidden;
	
	-webkit-transform-origin:0 0;
	-moz-transform-origin:0 0;
	-ms-transform-origin:0 0;
	-o-transform-origin:0 0;
	transform-origin:0 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#Titleline3 {
	color: white;
}


#president {
	max-width: 10vw;
	max-height: 10vw;
	top: 5vw;
	left: 65vw;
}

#line {
	position: absolute;
	z-index: 9002;
}

#officer1 {
	max-width: 10vw;
	max-height: 10vw;
	top: 20vw;
	left: 47.5vw;
}

#officer2 {
	max-width: 10vw;
	max-height: 10vw;
	top: 20vw;
	left: 65vw;
}


#officer3 {
	max-width: 10vw;
	max-height: 10vw;
	top: 20vw;
	left: 82vw;
}

#member1 {
	max-width: 10vw;
	max-height: 10vw;
	top: 35vw;
	left: 43vw;
}

#member2 {
	max-width: 10vw;
	max-height: 10vw;
	top: 35vw;
	left: 57.5vw;
}

#member3 {
	max-width: 10vw;
	max-height: 10vw;
	top: 35vw;
	left: 72vw;
}

#member4 {
	max-width: 10vw;
	max-height: 10vw;
	top: 35vw;
	left: 87vw;
}

#s3text {
	font-size: 2.3vw;
	left: 6vw;
}

/* Scene 4 Customize information fields */

#scene4 {
	width:100%;
	height: 100%;
	color: white;
	overflow: hidden;
	
	-webkit-transform-origin:0 0;
	-moz-transform-origin:0 0;
	-ms-transform-origin:0 0;
	-o-transform-origin:0 0;
	transform-origin:0 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#Titleline4 {
	color: white;
}

#s4text {
	font-size: 2.3vw;
	left: 6vw;
}

#customfieldbase {
	max-width: 50vw;
	max-height: 40vw;
	left: 45vw;
}

#addfield {
	font-size: 2vw;
	top: 30.5vw;
	left: 48vw;
}

#responsibilities {
	font-size: 3vw;
	top: 29.3vw;
	left: 48vw;
}

#textbox1 {
	border: 3px;
	border-color: #FFFFFF;
	max-width: 10vw;
	max-height: 10vw;
	top: 20vw;
	left: 30vw;
	z-index: 10000;
}

/* Scene 6 Check on your donation */

#scene6 {
	width:100%;
	height: 100%;
	color: white;
	overflow: hidden;
	
	-webkit-transform-origin:0 0;
	-moz-transform-origin:0 0;
	-ms-transform-origin:0 0;
	-o-transform-origin:0 0;
	transform-origin:0 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#Titleline6 {
	left: 20%;
	color: white;
}

#s6text {
	left:10%;
}

#datasheets {
	width: 45%;
	height: 55%;
	left: 47%;
}

#graphlines {
	width: 35%;
	height: 37%;
	left: 50%;
	top: 43%;
}


/* Scene 7 Success */

#scene7 {
	width:100%;
	height: 100%;
	color: white;
	overflow: hidden;
	
	-webkit-transform-origin:0 0;
	-moz-transform-origin:0 0;
	-ms-transform-origin:0 0;
	-o-transform-origin:0 0;
	transform-origin:0 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#Titleline7 {
	left: 30%;
	color: white;
}

#presentsuccess {
	width: 20%;
	height: 40%;
	left: 45%;
}

#box {
	width: 9%;
	height: 15%;
	left: 30%;
	top: 47%;
}

#check {
	width: 11%;
	height: 14%;
	left: 31%;
	top: 45%;
}